:root {
    --c-light: #ecf0f1;
    
    --s-xl: 1.5rem;
    --s-lg: 1.2rem;
    --s-md: 0.9rem;
    --s-s: 0.7rem;
    --s-xs: 0.4rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: var(--s-md);
    background-color: var(--c-light);
    padding: var(--s-xs);
    height: auto;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.header-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: var(--s-xl);
    margin-bottom: var(--s-s);
    border-bottom: 1.5px solid;
}

.header-div,
.nav-div,
.main-div,
.footer-div {
    width: 100%;
}

.main-div img {
    max-width: 100%;
    height: auto;
    margin-bottom: var(--s-xl);
}
